@import "tailwindcss";

:root {
  /* --primary: #fb9e3a; */
  --bg: #171717;
  --primary: #f8942a;
  --secondary: #e6521f;
  --buttonbg: rgba(255, 255, 255, 0.2);
  --shadow: rgba(251, 158, 58, 0.4);
  --transition: all 0.3s linear;
  --mouse-x: 10px;
  --mouse-y: 10px;
  --testimonial-length: calc(-4 * 8 * 52px);
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-shadow: var(--shadow);
  --color-buttonbg: var(--buttonbg);
  --color-bg: var(--bg);

  --ease-t: var(--transition);
}

.footer-shadow {
  box-shadow: 0 0px 8px 5px rgba(255, 255, 255, 0.15);
}

footer {
  .links button:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 150ms;
  }

  .socials {
    button {
      opacity: 80%;
      transition: 150ms;
      cursor: pointer;
      &:hover {
        opacity: 100%;
      }
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(-48px);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-animation {
  animation-name: slide;
  animation-duration: 5s;
  animation-timing-function: linear;
}

.flip-animation {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-align: center;
}

.card-back {
  transform: rotateY(180deg);
}
