@import "tailwindcss";

:root {
  --primary: #FB9E3A;
  --secondary: #E6521F;
  --shadow: rgba(251, 158, 58, 0.4);
  --transition: all 0.3s linear;
  --mouse-x: 10px;
  --mouse-y: 10px;
  --testimonial-length: calc(-4 * 8 * 52px);
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-shadow: var(--shadow);

  --ease-t: var(--transition);
}

.footer-shadow {
  box-shadow: 0 0px 8px 5px rgba(255, 255, 255, 0.15);
}
