.glow::before {
  background: radial-gradient(
  400px circle at var(--mouse-x) var(--mouse-y),
  rgba(255, 255, 255, 0.06),
  transparent 40%
  );
  content: "";
  opacity: 0;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
}

.glow:hover::before {
  opacity: 100%;
}
