.glow {
  box-shadow: 0 0 100px 50px var(--color-primary);
}

.heroimage-shadow {
  box-shadow: 0 0px 100px 100px var(--color-shadow);
}

.hero-gradient {
  background: linear-gradient(transparent, #000);
}

.insights-shadow {
  box-shadow: 0 -50px 1000px 50px var(--color-shadow);
}
