.glow::before {
  background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.08),
      transparent 40%);
  content: "";
  opacity: 0;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
}

.glow:hover::before {
  opacity: 100%;
}

@keyframes border {
  0% {
    border-color: var(--color-stone-700);
  }

  50% {
    border-color: var(--color-stone-500);
  }

  100% {
    border-color: var(--color-stone-700);
  }
}

.border-animation {
  animation-name: border;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}

.border-animation:hover {
  animation-play-state: paused;
}

.hero-shadow {
  box-shadow: 0px 0px 50px 20px rgb(251, 158, 58, 0.2);
}

.heroimage {
  background: linear-gradient(rgba(0, 0, 0, 0.25), #000);
}

.testimonial-shadow {
  box-shadow: inset 0px 0px 50px 5px rgba(255, 255, 255, 0.2);
}

@keyframes carousel-animation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(var(--testimonial-length));
  }
}

.carousel {
  animation: carousel-animation;
  animation-timing-function: linear;
  /* animation-duration: 12s; */
}
